@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
  font-family: "Jua", sans-serif;
}

.banner {
  padding: 40px;
  margin-top: 0px;
  text-align: center;
  background-color: rgb(255, 238, 112);
}

body {
  background-color: rgb(255, 255, 183);
}

.card {
  background-color: rgb(255, 238, 112);
  margin-top: 15px;
  margin: 20px;
  width: 25%;
  height: 20vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

img {
  width: 20vw;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.card-details {
  font-size: 18px;
  align-items: center;
  justify-content: center;
}

#allCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 10px;
}
