@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
  font-family: "Jua", sans-serif;
}

:root {
  --light-yellow: rgb(255, 255, 183);
  --yellow: rgb(255, 238, 112);
  --light-purple: rgb(231, 198, 255);
  --purple: rgb(200, 182, 255);

  /*Intentions*/
  --primary: var(--light-yellow);
  --secondary: var(--yellow);

  /*Typography*/
  --h1: 3.052rem;
  --h2: 1.953rem;
  --h3: 1.25rem;
  --h4: 0.8rem;
  --h5: 0.512rem;
}

h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

.yellow {
  --primary: var(--light-yellow);
  --secondary: var(--yellow);
}

.purple {
  --primary: var(--light-purple);
  --secondary: var(--purple);
}

.banner {
  font-size: var(--h1);
  padding: 40px;
  margin-top: 0px;
  text-align: center;
  background-color: var(--secondary);
}

body {
  background-color: var(--primary);
}

.card {
  background-color: var(--secondary);
  margin-top: 15px;
  margin: 20px;
  width: 25%;
  height: 25vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding-bottom: ;
}

img {
  width: 20vw;
  height: 50%;
  justify-content: center;
  border-radius: 15px;
}

.card-details {
  font-size: 18px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.card-title {
  width: 100%;
}

#allCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 10px;
}

.vegetarian {
  margin-top: -20px;
}
